* {
  margin: 0;
  padding: 0;
}


#logo img {
  max-width: 100px;
  height: auto;
}

#menu {
  height: 55%;

}


.navbar-nav .nav-item .nav-link {
  position: relative;
  color: #16c1c8;
  font-weight: 400;
}

.navbar-nav .nav-item .nav-link::before,
.navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #7cd7cf;
  transition: width 0.3s ease;
  transform: scaleX(0);
  transform-origin: center;
}

.navbar-nav .nav-item a::before {
  right: 50%;
}

.navbar-nav .nav-item a::after {
  left: 50%;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a:hover::after {
  width: 100%;
  transform: scaleX(1);
  color: #7cd7cf;
}

.container_ul {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 18px;
}

.navbar-nav {
  margin-top: -10px;
}


.circulo {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #16c1c8;
  clip-path: circle(50% at bottom left);
  z-index: -9;
}

.img-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -9;
}

.img-principal img {
  width: 800px;
  height: 700px;
  margin-top: 80px;
}

span {
  color: #16c1c8;
  text-shadow: 2px 2px 2px #252525;
}

.header {
  position: relative;
  margin-top: 200px;
}

.texto h2 {
  color: #252525;
  font-family: "Agdasima", Arial, sans-serif;
  text-shadow: 2px 2px 2px #252525;
  font-size: 44px;
  font-weight: bold;
}

.texto h2,
.texto p {
  max-width: 40%;
  margin-left: auto;
}

.texto p {
  font-family: Arial, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #7cd7cf;
  height: 40px;
}

.desenvolvido {
  color: rgb(7, 7, 7);
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: "Agdasima", Arial, sans-serif;
}

@media (max-width: 767px) {
  .img-principal {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: contain;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
  }

  .header {
    margin-top: 0;
    text-align: center;
    background-color: #c4f5f1;
  }

  .texto h2,
  .texto p {
    max-width: 100%;
    text-align: center;
  }
}


/*  
PALETA DE CORES UTILIZADAS
.color1 { #16c1c8 };
.color2 { #49cccc };
.color3 { #7cd7cf };
.color4 { #aee1d3 };
.color5 { #e1ecd6 };   */